<h1>Authentication Page</h1>
<br><br>
<button class="logout" onclick="userlogIn()">LogIn</button> 
<br>
<div class="card">
<label class="lab">Enter User Email-Id</label><br><br>
<input type="text" id="usermail"><br><br>
<p id="passWor"></p><br>
<button class="save" onClick="CheckPassword()">Get My Password</button><br>
<div>
<script src="./javascripts/website.js"></script>
