<h1>MY WEBSITE</h1><br>
<div class="container">
<div id="login"> 
<h2>USER LOGIN<h2><br>
<div id="form">
<label>User Name:</label><br><br>
<input type="text" id="name"/><br><br>
<label>Password:</label><br><br>
<input type="password" id="pass"><br><br>
<input type="button" onclick="logIn()" value="LogIn"><br><br>
<a class="pas" href="http://localhost:3000/forgetPassword">Forget PassWord?</a>
<p>You Don't Have Account Please Register!</p>
</div>
</div>
<div id="sigin">
	<h2>REGISTER<h2><br>
  <div id="form">
  <label>User Name:</label><br><br>
  <input type="text" id="user"/><br><br>
  <label>Email Id:</label><br><br>
  <input type="text" id="email"/><br><p>Example@gmail.com</p><br>
  <label>Phone Number:</label><br><br>
  <input type="text" id="phone" /><br><br>
  <label>Password:</label><br><br>
  <input type="password" id="password" /><br><br>
   <label>Conform Password:</label><br><br>
  <input type="password" id="confirm" /><br><br>
  <input type="button" onclick="signUp()" value="Sign Up"><br><br>
  <p>Do You Have an Account? Please Login</p>
</div>
</div>
</div>
<script src="./javascripts/website.js"></script>
